<div class="card shadow shadow-lg mt-4">
    <div class="card-body text-center">
        <h4 class="card-title "><i class="fa fa-book-reader"></i> Story books</h4>
        <p class="lead text-center">Create public and private stories from your life</p>
         <hr>
        <div class="border border-0 card-footer text-muted">
            <a href="/auth/google" class="btn btn-danger"><i class="fab fa-google pull-left"></i> Sign in With Google</a>
        </div>

    </div>
</div>

